@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/remoteconfig"

<nav class="navbar navbar-dark" style="background-color: #102362;">
  <a class="navbar-brand" href="" target="_blank">Remote config</a>
</nav>
<br>

<div class="container">

  <div class="row">
    <div class="col-11">
      <input class="form-control" type="text" placeholder="Search" @bind="@SearchTerm" @bind:event="oninput">
    </div>
    <div class="col-1">
      <button @onclick="OpenCreate" class="btn btn-success btn-block" data-toggle="modal" data-target="#remoteconfigModal">NEW</button>
    </div>
  </div>

  <br>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Dimension</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @if (RemoteConfigs.Count() > 0)
      {
          @foreach (var item in RemoteConfigs.Where(x => x.Key.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase)))
          {
            <tr>
              <td title="@item.Id">@item.Key</td>
              <td>@item.Dimension</td>
              <td>
                  <button @onclick="() => Delete(item)" title="Delete" class="btn btn-sm btn-danger float-right mx-1"><i class="fas fa-trash"></i></button>
                  <button @onclick="() => OnSelectItem(item)" title="Edit" class="btn btn-sm btn-warning float-right mx-1" data-toggle="modal" data-target="#remoteconfigModal"><i class="fas fa-edit"></i></button>
              </td>
            </tr>
          }
      }
    </tbody>
  </table>
</div>

<div class="modal fade" id="remoteconfigModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">RemoteConfigs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <EditForm Model="@SelectedItem" OnValidSubmit="@HandleFormSubmit">
          <DataAnnotationsValidator />
          <ValidationSummary />

          <div class="form-group">
            <label for="name">Key</label>
            <InputText class="form-control" id="name" @bind-Value="SelectedItem.Key" />
          </div>

          <div class="form-group">
            <label for="name">Dimension</label>
            <InputText class="form-control" id="name" @bind-Value="SelectedItem.Dimension" />
          </div>

          <button class="btn btn-primary" type="submit">SAVE</button>
        </EditForm>
      </div>
    </div>
  </div>
</div>