@page "/"

<MudText Typo="Typo.h5" Color="Color.Primary" Align="Align.Center">MICROSCOPE</MudText>
<MudText Typo="Typo.h6" Color="Color.Primary" Align="Align.Center">multi cloud backend as a service</MudText>

<MudGrid  Class="mt-4">
  <MudItem xs="12" sm="6" md="2">
    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
      <MudIcon Icon="@Icons.Material.Filled.Science" Color="Color.Primary" Class="mx-4"
        Style="width:54px; height:54px;"></MudIcon>
      <div>
        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Lab</MudText>
        <MudText Typo="Typo.subtitle2">Lab desc</MudText>
      </div>
    </MudPaper>
  </MudItem>
  <MudItem xs="12" sm="6" md="2">
    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
      <MudIcon Icon="@Icons.Material.Filled.Storage" Color="Color.Primary" Class="mx-4"
        Style="width:54px; height:54px;"></MudIcon>
      <div>
        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Data</MudText>
        <MudText Typo="Typo.subtitle2">Data desc</MudText>
      </div>
    </MudPaper>
  </MudItem>
  <MudItem xs="12" sm="6" md="2">
    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
      <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary" Class="mx-4"
        Style="width:54px; height:54px;"></MudIcon>
      <div>
        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Identity</MudText>
        <MudText Typo="Typo.subtitle2">Identity desc</MudText>
      </div>
    </MudPaper>
  </MudItem>
  <MudItem xs="12" sm="6" md="2">
    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
      <MudIcon Icon="@Icons.Material.Filled.CloudUpload" Color="Color.Primary" Class="mx-4"
        Style="width:54px; height:54px;"></MudIcon>
      <div>
        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Storage</MudText>
        <MudText Typo="Typo.subtitle2">Storage desc</MudText>
      </div>
    </MudPaper>
  </MudItem>
  <MudItem xs="12" sm="6" md="2">
    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
      <MudIcon Icon="@Icons.Material.Filled.Analytics" Color="Color.Primary" Class="mx-4"
        Style="width:54px; height:54px;"></MudIcon>
      <div>
        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Analytics</MudText>
        <MudText Typo="Typo.subtitle2">Analytics desc</MudText>
      </div>
    </MudPaper>
  </MudItem>
  <MudItem xs="12" sm="6" md="2">
    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
      <MudIcon Icon="@Icons.Material.Filled.Settings" Color="Color.Primary" Class="mx-4"
        Style="width:54px; height:54px;"></MudIcon>
      <div>
        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Configs</MudText>
        <MudText Typo="Typo.subtitle2">Configs desc</MudText>
      </div>
    </MudPaper>
  </MudItem>
</MudGrid>
