@using Microsoft.AspNetCore.Authorization
@page "/storage"
@attribute [Authorize]

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:8082" target="_blank">Storage</a>
</nav>
<br>

<div class="container">

<div class="row">
  <div class="col-11">
    @if (Containers.Count > 0)
    {
      <select @onchange="GetBlobsFromContainer" class="form-control">
        <option selected disabled value="-1"> SELECT CONTAINER</option>
        @foreach (var item in Containers)
        {
          <option value="@item">@item</option>
        }
      </select>
      <br>
    }
  </div>

  <div class="col-1">
    <button type="button" class="btn btn-primary" title="Create container / bucket" data-toggle="modal" data-target="#containerModal">
      <i class="fas fa-box"></i>
    </button>
  </div>
</div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @if (Blobs.Count > 0)
      {
          @foreach (var blob in Blobs)
          {
            <tr>
              <td>@blob</td>
              <td>
                <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                <button class="btn btn-sm btn-info"><i class="fas fa-download"></i></button>
              </td>
            </tr>
          }
      }
    </tbody>
  </table>
</div>

<div class="modal fade" id="containerModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create container</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <EditForm Model="@StorageContainer" OnValidSubmit="@HandleContainerSubmit">
          <DataAnnotationsValidator />
          <ValidationSummary />

          <div class="form-group">
            <label for="name">Name</label>
            <InputText class="form-control" id="name" @bind-Value="StorageContainer.Name" />
          </div>

          <button class="btn btn-primary" type="submit">Create</button>
        </EditForm>
      </div>
    </div>
  </div>
</div>
